.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

.stage-direction {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: black;
    background-color: lightblue;
}

.stage-direction:hover {
    background-color: lightsalmon;
    color: darkslateblue
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.name:hover {
    background-color: lightpink;
    border-style: groove;
    text-shadow: 0 0 1px grey;
    color: transparent;
}

.boatswain {
    color: darkviolet;
}

.sebastian {
    color: darkorange;
}

.alonso {
    color: gray;
}

.antonio {
    color: brown;
}

.gonzalo {
    color: olivedrab;
}

.master {
    color: yellowgreen;
}

table,
td,
th {
    margin: 3%;
    border-collapse: collapse;
    border: solid black;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: lightsteelblue;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

th {
    background-color: lightslategray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    float: left;
    background-color: lightgreen;
    text-align: start;
    display: flexbox;
    padding: 8px;
}

li:hover {
    background-color: darkgreen;
}