.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

.stage-direction {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: black;
    background-color: lightblue;
}

.stage-direction:hover {
    background-color: lightsalmon;
    color: darkslateblue;
    padding: 1%;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    padding: 1%;
}

.name:hover {
    background-color: lightpink;
    border-style: double;
    text-shadow: 10px 8px 3.5px #000;
    /* color: transparent; */
    /* color: transparent; */
}

.boatswain {
    color: darkviolet;
}

.sebastian {
    color: darkorange;
}

.alonso {
    color: gray;
}

.antonio {
    color: brown;
}

.gonzalo {
    color: olivedrab;
}

.master {
    color: yellowgreen;
}

table,
td,
th {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: solid black;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: lightsteelblue;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

th {
    background-color: lightslategray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    float: left;
    background-color: darkgreen;
    text-align: start;
    display: flexbox;
    padding: 8px;
}

li:hover {
    background-color: lightgreen;
}

.background {
    background-image: url('Images/Background.jpg');
    color: white;
}

.container {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.image {
    display: block;
    width: 200%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: lightgray;
    color: black;
    width: 187%;
    transition: 0.5s ease;
    opacity: 0;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}